.container{
	margin: 20px auto;
	padding: 20px;
	width: 90%;	
	border: 1px solid gray;
	text-align: center;
	background: #DEDEDE;		
}

.left{		
	width: 200px;	
	margin-left: -100%;
	border: 1px solid gray;	
	float: left;	
}

.main{
	width: 100%;		
	border: 1px solid gray;		
	float: left;	
	margin-right: 141px;
}

.right{
	width: 120px;	
	border: 1px solid gray;
	margin-left: -200%;	
}