*{
    padding: 0;
    margin: 0;
}

.fontHeiti {
    font-family: '黑体';
}

.fontYahei {
    font-family: '微软雅黑';
}

.fontKaiti{
    font-family: '楷体';
}

.container {
    width: 980px;
    height: 1386px;
    margin: 0 auto;
    border: 1px solid gray;
}

.header {
    width: 892px;
    height: 61px;
    border-bottom: 2px solid #938e8c;
    position: relative;
    margin: 0 44px;
}

.header .webinfo {
    width: 110px;
    height: 61px;
    font-size: 12px;
    background: #d45d5c;
}

.header .webinfo a {
    color: #fff;
    text-decoration: none;
    padding: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header .time {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: #d45d5c;
    padding: 4px;
}

.main {
    /*border: 1px solid red;*/
    margin: 40px 44px;
}

.row-1 {
    width: 892px;
    height: 301px;
}

.row-1 .left {
    width: 641px;
    height: 301px;
    background-image: url('image/computer.png');
    background-repeat: no-repeat;
    float: left;
    position: relative;
}

.row-1 .left .red,.green {
    width: 191px;
    height: 301px;
}

.row-1 .left .green {
    background-color: rgba(66, 140, 89, .5);
    position: absolute;
    top: 0;
    left: 0;
}

.row-1 .left .red {
    background-color: rgba(204, 117, 128, .5);
    position: absolute;
    top: 0;
    right: 0;
}

.row-1 .right {
    width: 203px;
    height: 301px;
    margin-left: 48px;
    float: left;
    border-top: 2px solid #cc8091;
}

.row-1 .right p.about {
    font-size: 24px;
    text-transform: capitalize;  /*首字母大写*/
    font-variant: small-caps;   /*小型的大写字母字体*/
    margin-top: 13px;
    margin-bottom: 5px;
    text-decoration: underline;    
}

.row-1 .right p.smallabout{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 47px;
    color: #676767;
    font-style: italic;
}

.row-1 .right p.w700{
    font-style: italic;
    color: #75b86b;
    font-size: 116px;
    line-height: 58px;
    margin: 47px 0 26px -17px;    
    padding: 0;
}

.row-1 .right p{
    color: #cc8091;
}

.row-1 .right p.c1{
    font-size: 55px;
}

.row-1 .right .css-1,.css-2{
    display: inline-block;    
}

.row-2{
    width: 641px;
    height: 166px;    
    margin-top: 40px;
}
.row-2>div{
    margin-right: 25px;
    float: left;
}

.row-2 .what{
    width: 228px;
    height: 166px;
}

.row-2 .when{
    width: 204px;
    height: 166px;
}

.row-2 .how{
    width: 132px;
    height: 166px;
}

.row-2 p[class$="-title"]{
    font-size: 16px;
    text-decoration: underline;    
}