body{
	margin: 0 auto;
	padding: 0;
	font-family: Microsoft Yahei;
	background-color: #E6E6E6;
	width: 100%;	
}
.container{
	width: 1000px;
	margin: 0 auto;
}

.article{	
	background: white;
	padding: 10px 20px;
	margin: 20px 0;
	box-shadow: 2px 2px 2px rgba(0,0,0,.6);
}

.article p.title2{
	font-size: 1.2em;
	color: #757575;
}

.article p.author{
	font-size: 0.875em;
	color: #757575;
}

.article .content p{
	text-indent: 2em;
	margin: 5px 0;
}

.article ul{
	list-style: none;
}


.article .pic li{	
	width: 180px;
	height: 160px;
	border: 1px solid #757575;
	text-align: center;
	margin-bottom: 20px;
}

.article .pic p{
	margin:10px 0;
}

.article .pic img{
	width: 140px;
	height: 100px;	
}

.article .declist{
	list-style: decimal;
}

.article table{	
	border-collapse:collapse;
	margin: 0 auto;
	width: 100%;
}

.article table th{ 
	background: #b1abab;	
}

.article table tr:last-child{
	background: #efe7e7;
}

.side{
	background: white;
	padding: 10px 20px;
	margin: 20px 0;
	box-shadow: 2px 2px 2px rgba(0,0,0,.6);
}

.side .reg{
	padding-left: 200px;	
}

.side .reg table tr td:first-child{
	text-align: right;
}

.side .reg table tr td:last-child{
	padding-left: 15px;
}

.side .reg table tr:last-child td:first-child{
	vertical-align: top;
}

.side .reg .inputinfo{
	font-size: 0.875em;
	color: #757575;	
}

.side .reg input[type='submit']{
	width: 400px;
	height: 60px;
	background: #334cff;
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 10px;
	color: white;
	font-size: 1.125em;
}

footer{
	width: 100%;
	height: 60px;
	background: black;
	color: white;
	text-align: center;	
}

footer .copy{
	display: block;
	padding-top: 20px;	
}

