* {
    margin: 0;
    padding: 0;
}

img {
    border: 0px;
}

.container {
    width: 100%;
    min-width: 1280px;
}

.fontHeiti {
    font-family: "黑体";
}

.fontYahei {
    font-family: "微软雅黑";
}

.fontFangsong{
    font-family: "华文仿宋";
}

.realtive {
    position: relative;
}

.absolute {
    position: absolute;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

a {
    text-decoration: none;
}

.row {
    width: 100%;
    height: inherit;
    clear: both;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.col {
    float: left;
}

.col-md-1 {
    width: 100%;
}

.col-md-2 {
    width: 16.6666667%;
}

.col-md-3 {
    width: 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.col-md-4 {
    width: 33.33333333%;
}

.col-md-6 {
    width: 50%;
}

.textalign-center {
    text-align: center;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.header {
    height: 56px;
    position: relative;
}

.header .head-logo {
    position: absolute;
    top: 14px;
    left: 59px;
}

.header span {
    font-size: 19px;
    position: absolute;
    top: 19px;
    left: 100px;
}

ul.nav {
    display: block;
    float: right;
    line-height: 56px;
    text-align: center;
}

ul.nav li {
    display: inline-block;
    width: 110px;
    height: 56px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.nav li:last-child>a {
    display: block;
    color: #e74f4d;
    position: relative;
}

ul.nav li:last-child img {
    position: absolute;
    display: inline;
    top: 18px;
    left: 20px;
}

ul.nav a {
    text-decoration: none;
    color: #83868d;
    font-size: 15px;
}

ul.nav a:hover {
    opacity: .6;
}

ul.nav .cur {
    border-bottom: 3px solid #e74f4d;
}

.section-1 img {
    width: 100%;
    margin-top: -1px;
}

.section-1 .info {
    top: 230px;
    left: 128px;
    color: #fff;
}

.section-1 p:first-child {
    font-size: 50px;
    line-height: 200%;
}

.section-1 p:not(:first-child) {
    font-size: 22px;
    line-height: 150%;
}

.section-1 .info a {
    width: 330px;
    height: 63px;
    background-color: #e74f4d;
    color: #fff;
    font-size: 30px;
    line-height: 63px;
    text-align: center;
    margin-top: 66px;
}

.section-1 .info a:hover {
    background-color: #c34240;
}

.section-2 img {
    padding: 46px 0;
}

.section-2 {
    padding-bottom: 68px;
}

.section-2 p {
    width: 154px;
    font-size: 14px;
    margin: 0 auto;
    color: #4d5050;
}

.section-2 div.row:not(:first-child)>div:not(:last-child) {
    border-right: 3px solid #888a8a;
}

.section-3 {
    height: 360px;
    background-color: #edecec;
}

.section-3 img {
    padding-top: 88px;
    padding-bottom: 48px;
}

.section-3 p {
    color: #4d5050;
    font-size: 56px;
}

.section-4 {
    height: 340px;
    background: url('../img/image-1.jpg') no-repeat;
    background-size: cover;
}

.section-4 .redmb {
    background-color: rgba(179, 122, 122, .3);
    height: inherit;
}

.section-4 h3 {
    font-size: 20px;
    color: #fff;
    padding-top: 52px;
    margin-bottom: 32px;
    display: inline-block;
}

.section-4 h3::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -115px;
    -webkit-transform: scaleX(0.15);
    transform: scaleX(0.15);
    content: '';
    width: 230px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: 1s;
    transition: 1s;
}

.section-4 h3:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.section-4 p:last-child {
    font-size: 15px;
    color: #fff;    
}

.section-5 {
    height: 605px;
    background-color: #f7f7f7;
}

.imgwall {
    margin: 0 auto;
    padding-top: 114px;
}

.img-frame {
    border: 1px solid #d2d2d2;
}

.col-img+.col-img {
    margin-left: 30px;
}

.col-img img {    
    width: 202px;
    height: 310px;
    border: 5px solid #feffff;
    margin-bottom: -3px;
}

.col-img h3 {
   color: #4d5050;
   letter-spacing: 20px;
   padding-left: 20px;
   line-height: 200%;
}

.col-img h4 {
    color: #4d5050;
    line-height: 200%;
}

.col-img p {    
    font-size: 14px;
    color: #4d5050;
}

.section-6 {
    height: 566px;
}

.section-6 .left-img{
    float: left;
    width: 851px;
    height: 566px;
}

.section-6 .right-info h2{
    color: #656666;
    padding-top: 164px;
    padding-bottom: 30px;
}

.section-6 .right-info p {
    color: #adabab;    
    line-height: 200%;
}

.section-6 .right-info a{
    width: 106px;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    color: #e74f4d;
    border: 2px solid #e74f4d;
    margin: 50px 0 24px 0;
}

.section-6 .right-info li{
    display: inline-block;
}

.section-6 .right-info a:hover{
    background: #e74f4d;
    color: #fff;
}

.section-6 .right-info .circle {
    display: inline-block;
    width: 14px;
    height: 14px;         
    border: 3px solid #83868d;
    border-radius: 10px;
}

.section-6 .right-info .circle.cur{
    background: #83868d;
}

.section-6 .right-info .circle:hover{
    cursor: pointer;
}

.section-6 .right-info ul{
    list-style: none;
}

.section-6 .right-info span {
        color: #e74f4d;
}