* {
    margin: 0;
    padding: 0;
}

img{
    border: 0px;
}

.container {
    width: 100%;
    min-width: 1280px;
}

.fontHeiti {
    font-family: "黑体";
}

.fontYahei {
    font-family: "微软雅黑";
}

.realtive {
    position: relative;
}

.absolute {
    position: absolute;
}

.block{
    display: block;
}

.inline {
    display: inline;
}

.inline-block{
    display: inline-block;
}

a{
    text-decoration: none;
}

.header {
    height: 56px;
    position: relative;
}

.header .head-logo{
    position: absolute;
    top: 14px;
    left: 59px;
}

.header span {
    font-size: 19px;
    position: absolute;
    top: 19px;
    left: 100px;
}

ul.nav {
    display: block;
    float: right;
    line-height: 56px;
    text-align: center;
}

ul.nav li {
    display: inline-block;
    width: 110px;
    height: 56px;    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.nav li:last-child>a{
    display: block;
    color: #e74f4d;
    position: relative;
}

ul.nav li:last-child img{
    position: absolute;
    display: inline;
    top: 18px;
    left: 20px;
}

ul.nav a {
    text-decoration: none;
    color: #83868d;
    font-size: 15px;
}

ul.nav a:hover{
    opacity: .6;
}

ul.nav .cur {
    border-bottom: 3px solid #e74f4d;
}

.section-1 img {
    width: 100%;
    margin-top: -1px;
}

.section-1 .info{
    top: 230px;
    left: 128px;
    color: #fff;    
}

.section-1 p:first-child{
    font-size: 50px;
    line-height: 200%;
}

.section-1 p:not(:first-child){
    font-size: 22px;
    line-height: 150%;
}
.section-1 .info a{
    width: 330px;
    height: 63px;
    background-color: #e74f4d;
    color: #fff;
    font-size: 30px;
    line-height: 63px;
    text-align: center;
    margin-top: 66px;
}

.section-1 .info a:hover {
    background-color: #c34240;
}