body {
    padding: 0;
    margin: 0;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

table th {
    background-color: #000;
    color: #fff;
}

th:not(:last-child), td:not(:last-child) {
    border-right: 1px solid #fff;
}

tr:nth-child(2n+1) {
    background-color: #d3d3d3;
}

tr:nth-child(-n+4) {
    color: red;
}

.input {
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
}

.input input {
    display: block;
    margin: 0 auto;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transition: .5s;
    -webkit-transition: .5s;
}

.input input:focus {
    transform: scaleX(1.6);
    -webkit-transform: scaleX(1.6);
    transition: 1s;
    -webkit-transition: 1s;
}

.carousel {
    width: 400px;
    height: 250px;
    position: relative;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
}

.carousel ul {
    list-style: none;
    position: absolute;    
    right: 10px;
    bottom: 0px;
    z-index: 10;
}

.carousel li {
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 20px;;
    opacity: 0.5;
}

.carousel li:hover {
    background-color: lightgreen;
    animation-play-state: paused;
}

.carousel a {
    text-decoration: none;
    color: #fff;
}

.carousel img {
    float: left;
    width: 400px;
    height: 250px;
}

.play {
    position: absolute;
    z-index: 9;
    width: calc(400px * 5); /*---修改图片数量的话需要修改下面的动画参数*/
    animation: ma 20s ease-out infinite alternate; /**/
}

@keyframes ma {
    /*---每图片切换有两个阶段：位移切换和静置。中间的效果可以任意定制----*/
    0%, 20% {
        margin-left: 0px;
    }
    25%, 40% {
        margin-left: -400px;  
    }
    45%, 60% {
        margin-left: -800px;
    }
    65%, 80% {
        margin-left: -1200px;
    }
    85%, 100% {
        margin-left: -1600px;
    }
}

.num:hover {
    background: #00f;
}

/*.play:hover {
    animation-play-state: paused;
}*/

.carousel ul li:nth-child(1):hover .play {
    animation: ma1 .5s ease-out forwards;
}

.carousel ul li:nth-child(2):hover .play {
    animation: ma2 .5s ease-out forwards;
}

.carousel ul li:nth-child(3):hover .play {
    animation: ma3 .5s ease-out forwards;
}

.carousel ul li:nth-child(4):hover .play {
    animation: ma4 .5s ease-out forwards;
}

.carousel ul li:nth-child(5):hover .play {
    animation: ma5 .5s ease-out forwards;
}

@keyframes ma1 {
    0% {
        margin-left: -1600px;
    }
    100% {
        margin-left: -0px;
    }
}

@keyframes ma2 {
    0% {
        margin-left: -1600px;
    }
    100% {
        margin-left: -400px;
    }
}

@keyframes ma3 {
    100% {
        margin-left: -800px;
    }
}

@keyframes ma4 {
    100% {
        margin-left: -1200px;
    }
}

@keyframes ma5 {
    100% {
        margin-left: -1600px;
    }
}